html, body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: #fdede7;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* if you want a set size change width and height to px values */
  width: 500px;
  height: 500px;
}

.container div {
  outline: 0.01px solid rgb(171, 205, 239);
  /* outline: 0.01px solid rgb(209, 209, 209); */
  /* these must be changed with js depending on number the user enters */
  height: 6.25%;
  width: 6.25%;
  background-color: white;
}